.post-form {
    width: 1070px;
}

.content-create-post {
    display: flex;
    flex-direction: column;
}

.title {
    margin-left: 430px;
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.card {
    /* margin-left: 150px; */
    margin-right: 70px;
    margin-top: 100px;
    width: 1000px;
}

.preview-image-post {
    width: 298px;
    background-color: #6c757d;
    border-radius: 10px;
    margin-left: -1px;
}

.preview-image-post img {
    width: 298px;
    border-radius: 10px;
}

.no-post-available {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    /* margin-left: 150px; */
    margin-right: 80px;
    margin-top: 100px;
    width: 1000px;
}

.custom-file-upload-post {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #212121;
    background-color: #e8e8e8;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
    margin-left: 10px;
    margin-top: 10px;
}

.custom-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .icon svg {
    height: 80px;
    fill: #e8e8e8;
}

.custom-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
}

.custom-file-upload input {
    display: none;
}

.input {
    margin-left: 30px;
    margin-top: 10px;
}

.input input {
    width: 610px;
}

.button-create-card-post button {
    width: 1000px;
    font-size: 30px;
    margin-left: 150px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 35px;
    background-color: black;
}

.line-create-post {
    margin-left: 1069px;
    display: inline-block;
    width: 1px;
    height: 10000px;
    background-color: #6c757d;
}

.draft {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.draft span {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    /* background-color: #e8e8e8; */
    text-align: center;
}

.head-draft {
    display: flex;
    flex-direction: column;
}

.line-draft {
    display: inline-block;
    width: 150px;
    height: 1px;
    background-color: #ced4da;
}

.body {}

.custom-file-upload-draft {
    height: 50px;
    width: 285px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: 2px dashed #212121;
    background-color: #e8e8e8;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
    margin-left: 10px;
    margin-top: 10px;
}

.custom-file-upload-draft .icon {}

.custom-file-upload-draft .icon svg {
    height: 20px;
    fill: #e8e8e8;
    margin-top: 15px;
}

.custom-file-upload-draft .text {
    margin-left: 10px;
    margin-top: 10px;
}

.custom-file-upload-draft .text span {
    font-size: 15px;
    color: #e8e8e8;
}

.custom-file-upload-draft input {
    display: none;
}

.card-draft {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 200px;
    height: 120px;
    background-color: #fff;
}

.card textarea {
    width: 620px;
}

.button-delete-draft {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
}

.custom-draft-view .img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-draft-view .img-draft img {
    height: 80px;
    fill: #e8e8e8;
}

.custom-draft-view .img-draft button {
    border: none;
    background-color: #fff;
}

.album-info {
    margin-left: 10px;
    margin-top: 10px;
    width: 280px;
    /* background-color: aqua; */
}

/* #postContainer {
    height: 100vh;
} */